body, html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    height: 100%;
    color: #323232;
    background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6, p, ul, li, span, i{
	font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 3vw;
}

ul, li, span, small, label{
	font-weight: 400;
}

p{ font-weight: 400; }

.fp-section {
    background-color: rgb(243, 243, 243) !important;
}


a, a:hover, a:focus {
	color: #323232;
}

#toggle-menu i.material-icons {
    font-size: 2.4rem;
}

a#toggle-menu {
    position: absolute;
    top: 5px;
}

#toggle-menu span.name {
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 2;
}

.fp-controlArrow.fp-prev {
	left: 0;
	border: none;
	width: 63px;
	height: 118px;
	background: url(../img/left.png) no-repeat 4px 20px rgba(50, 50, 50, 0.85);
	cursor: pointer;
	padding: 23px;
}
.fp-controlArrow.fp-next {
    right: 0;
    border: none;
    width: 63px;
    height: 118px;
    background: url(../img/right.png) no-repeat 14px 20px rgba(50, 50, 50, 0.85);
    cursor: pointer;
}

.fp-controlArrow.fp-next:hover{
	background: url(../img/right.png) no-repeat 14px 20px rgba(50, 50, 50, 1);
}

.fp-controlArrow.fp-prev:hover{
	background: url(../img/left.png) no-repeat 4px 20px rgba(50, 50, 50, 1);
}

.fp-slidesNav.bottom {
    background: rgba(242, 242, 242, 0.95);
    border-radius: 6px;
}

.fp-slidesNav ul li {
    display: inline-block;
    top: 2px;
}

div#topbar {
    display: none;
    position: fixed;
    width: 77px;
    height: 45px;
    background: rgb(232, 232, 232);
    padding: .5rem 1rem;
    z-index: 1;
    box-shadow: none;
}

div#slideID {
    position: absolute;
    top: 6px;
    font-size: 1.5rem;
}

div#faveID {
	width: 13rem;
    position: absolute;
    right: 0;
    top: 13px;
}

span.faveName {
	position: absolute;
	right: 7rem;
	width: auto;
	text-align: right;
	background: #ef3d5b;
	border-radius: 5px;
	top: -3px;
	padding: 2px 10px;
	color: white;
}

span.faveName {
  animation: faveN 1500ms;
}

@keyframes faveN {
	0% {
	  margin-top: -77px;
	  opacity: 0;
	}
	50% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	  margin-top: 0;
	}
}

span.faveCount {
	position: absolute;
	background: #ef3d5b;
	width: 18px;
	height: 18px;
	top: -5px;
	border-radius: 100%;
	color: white;
	z-index: 2;
	right: 43px;
}

span.faveCount{
  animation: countA 500ms;
}

@keyframes countA {
	0% {
		transform: scale(.9)
	}
	50% {
	  transform: scale(1)
	}
	100% {
		transform: scale(.9)
	}
}


span.faveCount i {
    font-style: normal;
    position: absolute;
    top: 0px;
    right: 6px;
    font-size: 13px;
}

#faveID i.material-icons {
	font-size: 2rem;
	position: relative;
	right: -7.6rem;
	z-index: 1;
	top: -5px;
}

#faveID i.material-icons:hover {
	color: #000;
}

#faveID i.material-icons {
  animation: heartA 500ms;
}

@keyframes heartA {
	0% {
		transform: scale(.9)
	}
	50% {
	  transform: scale(1)
	}
	100% {
		transform: scale(.9)
	}
}




.dropdown-pane.is-open {
	visibility: visible;
	width: 200px !important;
	right: 8px !important;
	left: initial !important;
	background: rgba(242, 242, 242, 0.95);
	padding: 1rem 1rem;
	top: 65px !important;
	border: 1px solid #fbfbfb;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

div#fave-drop:before {
	content: " ";
	width: 0px;
	height: 0px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #f2f2f2;
	position: absolute;
	top: -12px;
	right: 48px;
	z-index: 999999;
}

ul.fave-list {
    margin-bottom: 0;
    margin-left: 0;
}

ul.fave-list li {
    background: white;
    list-style: none;
    margin: 12px 0;
    padding: 3px 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.2);
}

.fave-list i.material-icons {
    font-size: 1rem;
    margin-right: 10px;
    color: #44d844;
    margin-left: 3px;
    position: relative;
    top: 1px;
}

#fave-drop  h4 {
    font-size: 1rem;
    text-align: center;
    text-shadow: 0px 1px 2px white;
    color: #969696;
    padding: 1rem;
}

#summary h1 {
    text-align: center;
    color: #717171;
    font-weight: 300;
}

.card {
    background: #fefefe;
    border-radius: 4px;
    color: #0a0a0a;
    padding: 1rem;
    text-align: center;
}

.card h2 {
	font-size: 1.25rem;
	font-weight: 300;
	color: #777777;
}

.card i {
    font-size: 2.25rem;
    color: #ef3d5b;
}

.card span {
    font-size: 1.25rem;
    display: block;
    font-weight: 700;
    color: #737373;
}

.slide-img {
    position: absolute;
    top: 46px;
    z-index: 1;
}


.fp-tableCell img {
    width: 100%;
    margin: auto;
    position: relative;
`    z-index: 9;
}

div#slide0 {
    background: url(../img/img-1.jpg);
    background-position: -61rem -7rem;
    background-repeat: no-repeat;
}

div#slide0 .fp-tableCell {
    position: relative;
    background: rgba(255, 255, 255, 0.90);
}

div#slide0 header {
    padding: 0 1rem;
}

div#slide1 {
    /*background: url(../img/img-1.jpg);*/
}

div#slide2 {
    /*background: url(../img/img-2.jpg);*/
}

div#slide3 {
    /*background: url(../img/img-3.jpg);*/
}

div#slide4 {
    /*background: url(../img/img-4.jpg);*/
}

.slide.fp-slide{
	background-size: cover;
	background-repeat: no-repeat;
}


.react {
    height: 70vw;
    position: absolute;
    z-index: 1;
    background: white;
    bottom: 0;
    left: 0;
    width: 100%;
}

.fp-tableCell{
	position: relative;
}

.slideNo {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: left;
    background: white;
    color: #323232;
    height: 46px;
    font-weight: 300;
    padding-left: 1rem;
    padding-top: .6rem;
    right: 0;
    z-index: 9;
}

span.s {
    /*font-weight: 300;*/
    /*display: none;*/
    /*font-size: 6vw;*/
}

span.n {
    /* display: block; */
    font-weight: 900;
    position: relative;
    font-size: 1rem;
    /* bottom: 24px; */
    line-height: 1;
}



span.profile {
	display: none;
    position: absolute;
    right: 14px;
}

.theForm {
    margin-top: 20vw;
    padding: 0 6vw;
}

.theForm h2 {
    font-weight: 900;
    margin: 0;
}

.theForm p {
    font-size: .9rem;
    margin: 0;
    color: #777777;
}

.theForm label {
    font-size: .75rem;
    color: #777777;
}

.header {
    position: absolute;
    top: 10vw;
    width: 100%;
    background: #016390;
}

.header img {
    width: 100%;
}

form.scmp-header {
    margin-top: 10vw;
}

footer#foot {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1vw;
}

footer#foot p {
    font-size: .8rem;
    line-height: 1.4;
    color: #777777;
    font-weight: 300;
}

footer#foot a {
    color: #777777;
    font-weight: 300;
}

.show-for-landscape {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.show-for-landscape p {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    line-height: 48vw;
    height: 100%;
}

.show-for-landscape i {
    position: relative;
    top: 32vw;
    font-size: 9vw;
    color: #bfbfbf;
}

/* Medium and up */
@media screen
and (min-width: 40em)
{

	.smiley {
	    height: 3rem;
	    position: absolute;
	    width: 100%;
	    bottom: 0;
	    z-index: 9;
	}

  	.smiley label {
  	    width: 15%;
  	    /* float: left; */
  	    text-align: center;
  	    background: #f3f3f3;
  	    position: relative;
  	}

    label.happy {
        /* margin: auto; */
        display: block;
        float: right;
    }

  	label.neutral {
  	    float: right;
  	}

  	.smiley i {
  	    font-size: 2rem;
  	    width: 100%;
  	    color: #323232;
  	    height: 100%;
  	    line-height: 3rem;
  	}

  	.slide-img {
  	    position: absolute;
  	    top: 0;
  	    z-index: 1;
  	}

  	.fp-tableCell img {
  	    width: auto;
  	    margin: auto;
  	    position: relative;
  	}

  	div#topbar {
  	    display: none;
  	}

    .slideNo {
        position: absolute;
        bottom: 0px;
        top: initial;
        width: 83px;
        text-align: left;
        background: rgba(50, 50, 50, 0.69);
        color: white;
        height: 37px;
        font-weight: 300;
        padding-left: 1rem;
        display: block;
        left: 0;
        padding-top: 7px;
        right: 0;
        z-index: 9;
    }

    .smiley label > input:checked + i {
        display: none;
    }

    .smiley label > input:checked + i + p {
        display: block;
        top: 0px;
        color: white;
        background: #03A9F4;
        height: 48px;
        padding-top: 8px;
        font-size: 1.25rem;
    }



}
