body, html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    height: 100%;
    color: #323232;
    background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6, p, ul, li, span, i{
	font-family: 'Roboto', sans-serif;
}

.fp-section {
    background-color: rgb(232, 232, 232) !important;
}

img{
	width: 100%;
}

a, a:hover, a:focus {
	color: #323232;
}

#intro img {
    width: auto;
    padding-top: 0;
    height: auto;
    padding-bottom: 20px;
}

.fp-controlArrow.fp-prev {
    left: 0;
    border: none;
    width: 49px;
    height: 118px;
    background: url(../img/left.png) no-repeat 4px 36px rgba(50, 50, 50, 0.55);
    cursor: pointer;
    padding: 23px;
}

.fp-controlArrow.fp-next {
    right: 0;
    border: none;
    width: 49px;
    height: 118px;
    background: url(../img/right.png) no-repeat 14px 36px rgba(50, 50, 50, 0.55);
    cursor: pointer;
}

.fp-controlArrow.fp-next:hover{
	background: url(../img/right.png) no-repeat 14px 36px rgba(50, 50, 50, 1);
}

.fp-controlArrow.fp-prev:hover{
	background: url(../img/left.png) no-repeat 4px 36px rgba(50, 50, 50, 1);
}

.fp-slidesNav.bottom {
    background: rgba(242, 242, 242, 0.95);
    border-radius: 6px;
}

.fp-slidesNav ul li {
    display: inline-block;
    top: 2px;
}

#fp-nav ul li, .fp-slidesNav ul li {
    width: 13px;
    height: 14px;
    margin: 0;
}

.fp-slidesNav.bottom {
    background: rgba(242, 242, 242, 0.95);
    border-radius: 13px;
    padding: 0 8px;
}

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    width: 16px;
    height: 16px;
    margin: -9px 0px 0px -8px;
}

.slide.fp-slide.fp-table img {
    width: 100%;
    padding-top: 48px;
    height: 100%;
}


div#topbar {
    position: fixed;
    width: 100%;
    height: 3rem;
    background: rgba(255, 255, 255, 0.95);
    padding: .5rem 1rem;
    z-index: 9;
    box-shadow: 0px 0px 5px rgba(121, 121, 121, 0.95);
}

div#slideID {
    position: absolute;
    top: 6px;
    font-size: 1.5rem;
}

div#faveID {
    width: 40rem;
    position: absolute;
    right: 0;
    top: 13px;
}

span.faveName {
	position: absolute;
	right: 5.5rem;
	width: auto;
	text-align: right;
	background: #03A9F4;
	border-radius: 5px;
	font-size: .9rem;
	top: -5px;
	padding: 0px 12px 4px 16px;
	color: white;
}

span.faveName.neutral {
    background: #ef3d5b;
}

.faveName i {
	position: relative;
	top: 4px;
	margin-right: 6px;
	font-size: 1.5rem;
	right: 0;
}

span.faveName {
  animation: faveN 1500ms;
}

@keyframes faveN {
	0% {
	  margin-top: -77px;
	  opacity: 0;
	}
	50% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	  margin-top: 0;
	}
}

span.faveCount {
    position: absolute;
    background: #323232;
    width: 2rem;
    height: 2rem;
    top: -5px;
    border-radius: 100%;
    color: white;
    z-index: 2;
    right: 43px;
}

span.faveCount{
  animation: countA 500ms;
}

@keyframes countA {
	0% {
		transform: scale(.9)
	}
	50% {
	  transform: scale(1)
	}
	100% {
		transform: scale(.9)
	}
}


span.faveCount b {
    font-style: normal;
    position: absolute;
    top: 3px;
    right: 12px;
    font-size: 1rem;
    font-weight: 300;
}

#faveID i.hearticon {
    font-size: 2rem;
    position: absolute;
    right: 3.3rem;
    z-index: 1;
    top: -5px;
}


#faveID i.material-icons {
  animation: heartA 500ms;
}

@keyframes heartA {
	0% {
		transform: scale(.9)
	}
	50% {
	  transform: scale(1)
	}
	100% {
		transform: scale(.9)
	}
}




.dropdown-pane.is-open {
	visibility: visible;
	width: 200px !important;
	right: 8px !important;
	left: initial !important;
	background: rgba(242, 242, 242, 0.95);
	padding: 1rem 1rem;
	top: 65px !important;
	border: 1px solid #fbfbfb;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

div#fave-drop:before {
	content: " ";
	width: 0px;
	height: 0px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #f2f2f2;
	position: absolute;
	top: -12px;
	right: 40px;
	z-index: 999999;
}

ul.fave-list {
    margin-bottom: 0;
    margin-left: 0;
}

ul.fave-list li {
    background: white;
    line-height: 3;
    list-style: none;
    margin: 12px 0;
    padding: 3px 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.2);
}

.fave-list i.material-icons {
    font-size: 2rem;
    margin-right: 10px;
    color: #44d844;
    margin-left: 3px;
    position: relative;
    top: 10px;
}

#fave-drop  h4 {
    font-size: 1rem;
    text-align: center;
    text-shadow: 0px 1px 2px white;
    color: #969696;
    padding: 1rem;
}

/*#summary h1 {
    text-align: center;
    color: #717171;
    font-weight: 300;
}*/

.card {
    background: #fefefe;
    border-radius: 4px;
    color: #0a0a0a;
    padding: 1rem;
    text-align: center;
}

.card h2 {
	font-size: 1.25rem;
	font-weight: 300;
	color: #777777;
}

.card i {
    font-size: 2.25rem;
    color: #ef3d5b;
}

.card span {
    font-size: 1.25rem;
    display: block;
    font-weight: 700;
    color: #737373;
}

i.neutral.material-icons {
    color: #505050;
}

i.happy.material-icons {
    color: #03A9F4;
}


.parag {
    padding: 0 20vw;
}

.parag h1 {
    font-weight: 900;
}

.parag h2 {
    font-size: 1.4vw;
    margin-bottom: 0;
    margin-top: 3vw;
}

.parag a.mlink {
	line-height: 1;
    font-size: 2vw;
    font-weight: 900;
    color: #ff7211;
}


div#section1 {
    background: url(../img/intro.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ketchup .column {
    text-align: center;
}

.ketchup span {
    display: block;
    font-size: 1.5rem;
    text-align: center;
}

.column.check {
    color: #03a9f4;
}

.column.elips {
    color: #ef3d5b;
}

footer {
    position: absolute;
    bottom: 3vw;
}

footer p, footer a {
    font-size: .8vw;
}
#chart_div {
  background: #fff;
}
#chart_div > div > div {
  margin: auto;
}
