/*http://jsbin.com/image-instead-of-radio-button/5/edit?html,css,output*/

.smiley label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.smiley label > input + i{ /* IMAGE STYLES */
  cursor:pointer;
}
.smiley label > input:checked + i {
    background: #03A9F4;
    color: white;
}

.smiley label.neutral > input:checked + i {
    background: #ef3d5b;
    color: white;
}



.smiley label {
    width: 100%;
    float: left;
    height: 100%;
    text-align: center;
    background: #f3f3f3;
    position: relative;
}

.smiley {
    height: 69vw;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 9;
}

.smiley i {
    font-size: 40vw;
    width: 100%;
    color: #d6d6d6;
    height: 100%;
    line-height: 50vw;
}

.smiley p {
    text-align: center;
    position: absolute;
    top: 45vw;
    color: #f3f3f3;
    font-size: 1.5rem;
    width: 100%;
}
