main {
  height: 100%;
  width: 200%;
  overflow-x: hidden;
}
#togglenav, #presentation {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  float: left;
}
.preview {
  height: 50%;
}
.buttons {
  height: 50%;
}
.buttons button {
  width: 49%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
}
#slide-nav {
  padding-left: 0px;
  margin: 0px;
  width: 50%;
  max-width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
}
#slide-nav li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding: 20px 10px;
  text-align: center;
}
